@import "../css/iconfont.css"
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*:before, *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  visibility: visible
}
body
  color: #686868
a
  text-decoration: none
a:hover
  text-decoration: none
a:active
  text-decoration: none
.fl
  float: left
.fr
  float: right
.btn
  font-size: 14px;
.el-button
  border-radius: 0

.el-input__inner
  border-radius: 0

.fa
  margin-right:10px
// componets common
.search-bar
  line-height: 20px
  display: inline-block
  padding: 5px 0
  vertical-align: top;
  .bar-name
    font-size: 13px
    float: left
    //line-height: 1
    padding: 5px 12px 5px 0
    width: 100px;
    text-align: right;
  .input-wrap
    display : inline-block
    min-width : 200px
  .validator-cpt
    width: 200px;
    margin-left: 75px;
    .validator-cpt-tip
      font-size: 12px;
      box-sizing: border-box;
      line-height: 22px;
      text-indent: 0px;
      margin-top: 5px;
      word-break: break-word;
      padding: 0 5px
      &.error
        background-color: #ffe6e6;
        color: #e74c3c;
        border: 1px solid #f4d9dc;
.page-title
    line-height: 60px
    padding: 0 0 0 30px
    background: #fff
.container-fluid
  padding:15px 25px;
  .filter-box
    margin-top : 10px;
    margin-bottom: 25px;
    padding: 25px 0;
    background: #fff;
    .btn-right-wrap
      display : inline-block
      float : right
      height: 40px;
      line-height: 40px
      margin-right : 30px
      .el-button
        min-width : 80px
  .floor-area
    margin-top: 10px
    .title
      font-size: 16px
      background: #fff;
      line-height: 45px;
      padding-left: 20px;
      font-weight: bold
  .white-box
    background: #fff
  .flex-box
    display: flex
    display: -webkit-flex
    .flex
     flex: 1;
     -webkit-flex: 1
  .filter-col
    display: inline-block

.mr-25
  margin-right:25px

.info-wrap
  margin-bottom :20px
  margin-top :-20px
.pagination-wrap
  margin-top : 10px
.table-top
  background: #fff
  overflow: hidden
.btn-download
  float: right
  margin-bottom: 10px
  margin-right: 30px
  cursor: pointer
.mod_table
  background: #fff
  width: 100%
  .table_hd
    padding: 15px
  .table-area
    background: #fff
.el-table::after, .el-table::before
  display : none
.el-table td, .el-table th.is-leaf
  border-bottom: 1px solid #e4e7ea
  padding: 10px 8px
.el-table th
  background: #fff
.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div
  background: #fff
.el-table
  border: none
.el-table .cell
  color: #797979
.el-table th>.cell
  color: #666
  font-weight: bold
.el-menu
  margin-top: 20px
  background: #292929
  .is-active
    color: #cbcbcb
.el-menu--dark .el-submenu .el-menu
  background: #292929
.logo-name
  line-height: 35px
  height: 35px
  text-align: center
  font-family:"黑体"
  font-size: 18px
  color: #fff
